* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    width: max-width;
}

section {
    align-self: center;
    width: 50%;
}

.nav-bar {
    align-items: center;
    background-color: rgba(19, 41, 61);
    color: rgba(255, 255, 255);
    display: flex;
    height: 55px;
    width: auto;
}

.nav-bar h4 {
    margin: auto auto;
    position: relative;
    text-align: center;
    width: 80%;
}

.nav-bar i {
    margin: auto 20px;
}

#home {
    text-align: left;
}

#sign-out {
    text-align: right;
}

.title {
    text-align: center;
    background-color: rgba(62, 146, 204);
    color: rgba(255, 255, 255);
    height: 40px;
    margin: auto auto;
    padding-top: 15px;
}

.group {
    display: flex;
    align-items: center;
    margin: 1em;
    width: 100%;
}

.label-items {
    color: rgba(42, 98, 143);
    width: 15rem;
}

.text-box {
    border: 1px solid rgba(62, 146, 204, 0.4);
    border-radius: 3px;
    color: rgba(42, 98, 143);
    font-size: 17px;
    height: 2rem;
    padding-left: 10px;
    width: 480px;
}

[type='date']::-webkit-calendar-picker-indicator {
    background: rgba(255, 255, 255) url(../images/icon_calendar.svg);
}

.text-box:focus {
    border-color: rgba(42, 98, 143, 0.5);
}

.text-select {
    border: 1px solid rgba(62, 146, 204, 0.4);
    color: rgba(42, 98, 143);
    font-size: 17px;
    height: 2rem;
    padding-left: 10px;
    width: 492px;
}

.group-select {
    width: 33%;
}

.text-select-sm {
    border: 1px solid rgba(62, 146, 204, 0.4);
    color: rgba(42, 98, 143);
    font-size: 17px;
    height: 2rem;
    margin-top: 1em;
    padding-left: 10px;
    width: 240px;
}

.btn-group {
    text-align: center;
    width: 50%;
}

.btn {
    background-color: rgba(22, 50, 79);
    border-radius: 3px;
    border: 1px solid rgba(22, 50, 79);
    color: rgba(255, 255, 255);
    height: 2rem;
    width: 200px;
}

.subtitle {
    color: rgba(42, 98, 143);
    margin-top: 10px;
}

a {
    color: rgba(255, 255, 255);
}

@media (max-width: 1300px) {
    .group {
        width: auto;
    }
    .text-box {
        width: 450px;
    }
    .text-select {
        width: 450px;
    }
    .text-select-sm {
        width: 200px;
    }
}

@media (max-width: 560px) {
    section {
        width: 100%;
    }
    .group {
        align-items: center;
        display: block;
        width: 100%;
    }
    .label-items {
        width: 10rem;
    }
    .text-box {
        margin-top: 8px;
        width: 315px;
    }
    .text-select {
        width: 325px;
    }
    .text-select-sm {
        width: 325px;
    }
    .btn-group {
        width: 100%;
    }
    .btn {
        width: 100px;
        margin-bottom: 15px;
    }
}